<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#jobs').delegate("a.show_hide_job_output", 'click', function() {
      $('.job_output').not(this).hide();      
      var job_cont = $(this).closest('.job_summary').next('.job_content')
      var job_out = job_cont.find('.job_output').first();
      job_out.toggle();
      return false;      
    });
    
    var t = setInterval(function() {
      $('.job .status.pending,.job .status.running').each(function () {
        var job_div = $(this).closest('.job');
        
        job_div.find('.job_summary').first().load(job_div.attr('data-summary-url'));
        job_div.find('.job_output > pre > code').first().load(job_div.attr('data-output-url'));        
      });
    }, 5000);
  });
</script>
<div id="jobs">
  <% @jobs.each do |j| %>
    <div id="job_<%= j.id%>" class="job status_<%= j.status %>" data-status-url="/jobs/<%= j.id %>/status" data-output-url="/jobs/<%= j.id %>/output" data-summary-url="/jobs/<%= j.id %>/ajax_summary">
      <div class="job_summary">
        <%= erb :job_summary, :locals => { :j => j } %>
      </div>
      <div class="job_content">
        <div class="job_output hidden"><pre><code><%= j.output %></code></pre></div>
      </div>
    </div>
  <% end %>
</div>
