<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#jobs').delegate("a.show_hide_job_output", 'click', function() {
      var job_cont = $(this).closest('.job_summary').next('.job_content');
      var job_out = job_cont.find('.job_output').first();

      // Manual toggle here so that I could implement on demand loading to improvie initial load performance.
      if (job_out.is(':hidden')) {
        job_out.find('pre > code').first().load(job_cont.closest('.job').attr('data-output-url'));
        job_out.show();
      } else {
        job_out.hide();
        job_out.find('pre > code').first().html("");
      }
      return false;
    });
    
    var t = setInterval(function() {
      $('.job .status.pending,.job .status.running').each(function () {
        var job_div = $(this).closest('.job');
        
        job_div.find('.job_summary').first().load(job_div.attr('data-summary-url'));
      });

      $('.job .job_output:visible').each(function () {
        var job_out = $(this);
        
        job_out.find('pre > code').first().load(job_out.closest('.job').attr('data-output-url'));
      });
    }, 5000);
  });
</script>
<div id="jobs">
  <% @jobs.each do |j| %>
    <div id="job_<%= j['id']%>" class="job status_<%= j['status'] %>" data-status-url="/jobs/<%= j['id'] %>/status" data-output-url="/jobs/<%= j['id'] %>/output" data-summary-url="/jobs/<%= j['id'] %>/ajax_summary">
      <div class="job_summary">
        <%= erb :job_summary, :locals => { :j => j } %>
      </div>
      <div class="job_content">
        <div class="job_output"><pre><code></code></pre></div>
      </div>
    </div>
  <% end %>
</div>
